@model WebDuLich.Models.Account

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Xóa tài khoản</h1>

<h3>Bạn có chắc chắn muốn xóa tài khoản này không?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
           Họ và tên:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class="col-sm-2">
            Số điện thoại:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            Email:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
           Mật khẩu:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Encode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Encode)
        </dd>*@
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Access)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Access)
        </dd>*@
        <dt class="col-sm-2">
            Lần đăng nhập cuối:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastLogin)
        </dd>
        <dt class="col-sm-2">
            Ngày tạo:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Role.RoleId)
        </dd>*@
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="AccId" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Quay lại danh sách</a>
    </form>
</div>

<style>
    .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }

    .col-sm-2, .col-sm-10 {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .col-sm-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col-sm-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .row dt {
        font-weight: bold;
        margin-top: 10px;
    }

    .row dd {
        margin-bottom: 10px;
    }

    .btn-danger {
        background-color: #dc3545;
        color: white;
        border: none;
        padding: 10px 15px;
        cursor: pointer;
    }

        .btn-danger:hover {
            background-color: #c82333;
        }

    .text-danger {
        color: red;
        margin-top: 5px;
        display: block;
    }
</style>